li,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  padding: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header ul li {
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
}

header ul li:nth-child(2),
header ul li:nth-child(1) {
  border-right: 3px solid;
}

.date-box {
  text-align: end;
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.books-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin-bottom: 12px;
}

.book {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 15px;
}

.author {
  margin-right: auto;
  margin-left: 5px;
}

.nthChildCol,
.add_book {
  background-color: #d4d1d1;
  color: black;
}

.remove_button {
  height: 30px;
  margin: 8px 0;
  border-radius: 7px;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.addBooks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact_details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact_infor {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact_list {
  margin-left: 50px;
}

.information {
  font-size: 18px;
  list-style: disc;
}

.hide_div {
  display: none;
}

.add_book {
  margin-left: auto;
  border-radius: 7px;
  width: 80px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links:hover {
  background-color: bisque;
}

.nav_color {
  color: rgba(15, 15, 240, 0.904);
}

#title {
  margin-top: 30px;
}

#title,
#author {
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 22px;
  padding: 7px;
}

.navigation, .footer {
  border: 2px solid blueviolet;
}

#copyrt {
  font-size: larger;
}

footer {
  margin-top: 94px;
}
